<h3>Place An Order</h3>



<table id="ingredients">
  {{#each ingredients}} 
  <tr id="{{this._id}}" class="inStock">
  {{#if this.outofstock}}
    <td><strike><span class="name">{{this.name}}</span>: $<span class="price">{{this.price}}</span></strike></td>
    <input type="checkbox" disabled>
  {{else}}
    <td><span class="name">{{this.name}}</span>: $<span class="price">{{this.price}}</span></td>
    <td><span class="checkbox"><input type="checkbox" onclick="updateOrder('{{this._id}}');"></span></td>
  {{/if}}
   </tr>
  {{/each}}
</table>

<p id="price">Total: $<span class="price">0.00</span></p>
Name: <input type="text" id="name">
<input type="button" value="Submit" onclick="placeOrder();">
<h4 id="message"></h4>