<ul>
{{#each cats}}
  <li>{{this.name}} is {{this.color}} and {{this.age}}!</li>
{{/each}}
{{#oldestCat}}
  <li>{{this.name}} was {{this.color}} and {{this.age}} when it was sent to a farm.</li>
{{/oldestCat}}
</ul>