<h2>Welcome to Twoter</h2>

<div id='userLoggedIn' username='{{username}}'>
    User logged in: {{username}}
</div>

<br></br>
<form id = 'logOutButton' action='logOut' method='GET'>
    <input type='submit' class='logout' value='Log Out'>
</form>


<br></br>
<form id ='new' action='newTwote' method='POST'>
    Create a new Twote!
    <input type='text' name='twotetext'> 
    <input type='submit' value='Submit'>
</form>


<br></br>

<div id='allTwotes'>
    {{#each alltwotes}}
        <div id='{{this.id}}-twote'>
            {{this.user}} said: "{{this.text}}"
            <form id = '{{this.id}}-delete' class='deleteButton' username ='{{this.user}}'>
            </form>
        </div>
    {{/each}}
</div>

<br></br>

<div id='allUsers'>
    <h3>User List</h3>
    {{#each allusers}}
    <div id='user-{{this.name}}' class='user'>
        User {{this.name}}
    </div>
    {{/each}}
</div>
