
<div id='userLoggedIn' username='{{username}}'>
User logged in: {{username}}
</div>

<br></br>
<form id = 'logOutButton' action='logOut' method='GET'>
    <input type='submit' value='Log Out'>
</form>


<br></br>
<form id ='new' action='newTwote' method='POST'>
    Create a new Twote!
    <input type='text' name='twotetext'> 
    <input type='submit' value='Submit'>
</form>


<br></br>

<div id='allTwotes'>
    {{#each alltwotes}}
        <div id='{{this.id}}-twote'>
            <li>User {{this.user}} said {{this.text}}</li>
            <form id = '{{this.id}}-delete-twote' class='deleteButton' username ='{{this.user}}'>

            </form>
        </div>
    {{/each}}
</div>

<br></br>

<div id='allUsers'>
    User List
    {{#each allusers}}
        <p>User {{this.name}}</p>
    {{/each}}
</div>
