<h2>Ingredients</h2>

<h3>In Stock</h3>
<div id="in">
	{{#each inStock}}
		<form class="inStock" id={{this._id}} action="markOutOfStock" method="POST">
			<span>{{this.name}} - ${{this.price}}</span>
			<input type="button" class="edit" value="Edit">
			<input type="submit" class="submit" value="Out of Stock">
		</form>
	{{/each}}
</div>

<h3>Out Of Stock</h3>
<div id="out">
	{{#each outOfStock}}
		<form class="outOfStock" id={{this._id}} action="markInStock" method="POST">
			<span>{{this.name}} - ${{this.price}}</span>
			<input type="button" class="edit" value="Edit">
			<input type="submit" class="submit" value="Restock">
		</form>
	{{/each}}
</div>

<h3>New Ingredient</h3>
<div id="new">
	<form id="newIngredient" action="addIngredient" method="POST">
		Ingredient: <input type="text" id="name">
		Price: $<input type="text" id="price">
		<input type="submit" class="submit" value="Add">
	</form>
</div>