<div class="container-fluid">
	<div class="page-header">
		<h1>Make Your Order <small>It'll be great!</small></h1>
	</div>
	<form class="inline-form">
    	<ul class="list-group list-unstyled", style = "padding-bottom: 18px">
	  		{{#each ingredients}}
				<h1 style="text-indent: 10px"> <small> {{this.name}} </small> </h1>
				<ul>
                    <li class="list-group-item" price={{this.price}} ingredient_name={{this.name}}>
                        <label>
                            Price:
                        </label>
                        {{this.price}}
                        {{#if this.available}}
                            <input type="checkbox" class = "add-box" style="margin-left: 15px"> Add
                        {{else}}
                            <input type="checkbox" class = "add-box" style="margin-left: 15px" disabled> Add
                        {{/if}}
				    </li>
				</ul>
            {{/each}}
        </ul>
    </form>
    <form>
        <ul class="list-inline cost-group">
            <li>
                <label>Total Cost: $</label>
            </li>
            <li>
                <h3> 0.00 </h3>
            </li>
            <li>
                <button  class="btn btn-default btn-order" id = "order-button">Order</button>
            </li>
        </ul>
    </form>
</div>
