<h1>Here are the ingredients!</h1>
{{#each ingredients}}

<p id={{this.name}} name="info_display"> {{this.name}} x {{this.stock}}, price: {{this.price}} </p>

<form id="ajax-{{this.name}}" action="out_of_stock" method="POST">
        <input type="submit" name="out_of_stock" ><br>
</form>

<form id="ajax-{{this.name}}" action="edit_name" method="POST">
        <input type="text" value="" name="edit_name" ><br>
        <input type="submit" name="edit_name" value="edit_name" ><br>
</form>

<form id="ajax-{{this.name}}" action="edit_price" method="POST">
        <input type="text" value="" name="edit_price" ><br>
        <input type="submit" name="edit_price" value="edit_price"><br>
</form>

{{/each}}

<h1>Add a new ingredient!<h1>
<form id="ajax-{{this.name}}" action="edit_name" method="POST">
        <input type="text" value="" ><br>
        <input type="submit" name="edit_name" value="edit_name" ><br>
</form>
